<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Science Chatrooms</title>
    <style>
        body {
            background-color: #f8f9fa;
        }

        a {
            color: #ff8c00
        }

        a:hover {
            color: #ffc400;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" width="40" height="40" alt="logo">&nbsp
                Faculty of Science Chatrooms
            </a>
        </div>
    </nav>

    <main role="main" class="container">