{{> partials/header }}

<h1 class="my-3">Chatrooms</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Room</th>
                    </tr>
                </thead>
                <tbody>
                    {{# results}}
                    <tr>
                        <td><a href="./messages?id={{ id }}">{{ name }}</a></td>
                    </tr>
                    {{/ results}}
                </tbody>
            </table>

{{> partials/footer }}