{{> partials/header }}

<h1 class="my-3">{{ name }}</h1>

<table class="table table-striped">
    <tbody>
        {{# results}}
        <tr>
            <td>{{ user }}</td>
            <td>{{ text }}</td>
            <td>{{ sent_at }}</td>
        </tr>
        {{/ results}}
    </tbody>
</table>
<form class="form-inline" method="post">
    <div class="form-group mb-2">
      <label for="user" class="mr-2">New messages:  </label>
      <input type="text" class="form-control" id="user" name="user"  placeholder="From user">
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <input type="text" class="form-control" id="mesagestext" name="text" placeholder="Message text">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Send</button>
  </form>

{{> partials/footer }}